<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="cols"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="compound_name,ABL1-nonphosphorylated,ABL1-phosphorylated,EGFR,FGFR1,FGFR2,FGFR3,KIT"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="cols"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="compound_name,ABL1-nonphosphorylated,ABL1-phosphorylated,EGFR,FGFR1,FGFR2,FGFR3,KIT"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="defaultValue">
<config key="columns">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="columnFilter">
<config key="columnFilter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="8"/>
<entry key="0" type="xstring" value="compound_name"/>
<entry key="1" type="xstring" value="ABL1-nonphosphorylated"/>
<entry key="2" type="xstring" value="ABL1-phosphorylated"/>
<entry key="3" type="xstring" value="EGFR"/>
<entry key="4" type="xstring" value="FGFR1"/>
<entry key="5" type="xstring" value="FGFR2"/>
<entry key="6" type="xstring" value="FGFR3"/>
<entry key="7" type="xstring" value="KIT"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="438"/>
<entry key="0" type="xstring" value="data_id"/>
<entry key="1" type="xstring" value="compound_id"/>
<entry key="2" type="xstring" value="AAK1"/>
<entry key="3" type="xstring" value="ABL1(E255K)-phosphorylated"/>
<entry key="4" type="xstring" value="ABL1(F317I)-nonphosphorylated"/>
<entry key="5" type="xstring" value="ABL1(F317I)-phosphorylated"/>
<entry key="6" type="xstring" value="ABL1(F317L)-nonphosphorylated"/>
<entry key="7" type="xstring" value="ABL1(F317L)-phosphorylated"/>
<entry key="8" type="xstring" value="ABL1(H396P)-nonphosphorylated"/>
<entry key="9" type="xstring" value="ABL1(H396P)-phosphorylated"/>
<entry key="10" type="xstring" value="ABL1(M351T)-phosphorylated"/>
<entry key="11" type="xstring" value="ABL1(Q252H)-nonphosphorylated"/>
<entry key="12" type="xstring" value="ABL1(Q252H)-phosphorylated"/>
<entry key="13" type="xstring" value="ABL1(T315I)-nonphosphorylated"/>
<entry key="14" type="xstring" value="ABL1(T315I)-phosphorylated"/>
<entry key="15" type="xstring" value="ABL1(Y253F)-phosphorylated"/>
<entry key="16" type="xstring" value="ABL2"/>
<entry key="17" type="xstring" value="ACVR1"/>
<entry key="18" type="xstring" value="ACVR1B"/>
<entry key="19" type="xstring" value="ACVR2A"/>
<entry key="20" type="xstring" value="ACVR2B"/>
<entry key="21" type="xstring" value="ACVRL1"/>
<entry key="22" type="xstring" value="ADCK3"/>
<entry key="23" type="xstring" value="ADCK4"/>
<entry key="24" type="xstring" value="AKT1"/>
<entry key="25" type="xstring" value="AKT2"/>
<entry key="26" type="xstring" value="AKT3"/>
<entry key="27" type="xstring" value="ALK"/>
<entry key="28" type="xstring" value="AMPK-alpha1"/>
<entry key="29" type="xstring" value="AMPK-alpha2"/>
<entry key="30" type="xstring" value="ANKK1"/>
<entry key="31" type="xstring" value="AURKA"/>
<entry key="32" type="xstring" value="AURKB"/>
<entry key="33" type="xstring" value="AURKC"/>
<entry key="34" type="xstring" value="AXL"/>
<entry key="35" type="xstring" value="BIKE"/>
<entry key="36" type="xstring" value="BLK"/>
<entry key="37" type="xstring" value="BMPR1A"/>
<entry key="38" type="xstring" value="BMPR1B"/>
<entry key="39" type="xstring" value="BMPR2"/>
<entry key="40" type="xstring" value="BMX"/>
<entry key="41" type="xstring" value="BRAF"/>
<entry key="42" type="xstring" value="BRAF(V600E)"/>
<entry key="43" type="xstring" value="BRSK1"/>
<entry key="44" type="xstring" value="BRSK2"/>
<entry key="45" type="xstring" value="BTK"/>
<entry key="46" type="xstring" value="CAMK1"/>
<entry key="47" type="xstring" value="CAMK1D"/>
<entry key="48" type="xstring" value="CAMK1G"/>
<entry key="49" type="xstring" value="CAMK2A"/>
<entry key="50" type="xstring" value="CAMK2B"/>
<entry key="51" type="xstring" value="CAMK2G"/>
<entry key="52" type="xstring" value="CAMKK2"/>
<entry key="53" type="xstring" value="CASK"/>
<entry key="54" type="xstring" value="CDC2L1"/>
<entry key="55" type="xstring" value="CDC2L2"/>
<entry key="56" type="xstring" value="CDC2L5"/>
<entry key="57" type="xstring" value="CDK11"/>
<entry key="58" type="xstring" value="CDK14"/>
<entry key="59" type="xstring" value="CDK15"/>
<entry key="60" type="xstring" value="CDK16"/>
<entry key="61" type="xstring" value="CDK2"/>
<entry key="62" type="xstring" value="CDK3"/>
<entry key="63" type="xstring" value="CDK4-cyclinD1"/>
<entry key="64" type="xstring" value="CDK4-cyclinD3"/>
<entry key="65" type="xstring" value="CDK5"/>
<entry key="66" type="xstring" value="CDK7"/>
<entry key="67" type="xstring" value="CDK8"/>
<entry key="68" type="xstring" value="CDK9"/>
<entry key="69" type="xstring" value="CDKL1"/>
<entry key="70" type="xstring" value="CDKL2"/>
<entry key="71" type="xstring" value="CDKL3"/>
<entry key="72" type="xstring" value="CDKL5"/>
<entry key="73" type="xstring" value="CHEK1"/>
<entry key="74" type="xstring" value="CHK2"/>
<entry key="75" type="xstring" value="CIT"/>
<entry key="76" type="xstring" value="CLK1"/>
<entry key="77" type="xstring" value="CLK2"/>
<entry key="78" type="xstring" value="CLK3"/>
<entry key="79" type="xstring" value="CLK4"/>
<entry key="80" type="xstring" value="CSF1R"/>
<entry key="81" type="xstring" value="CSK"/>
<entry key="82" type="xstring" value="CSNK1A1"/>
<entry key="83" type="xstring" value="CSNK1A1L"/>
<entry key="84" type="xstring" value="CSNK1D"/>
<entry key="85" type="xstring" value="CSNK1E"/>
<entry key="86" type="xstring" value="CSNK1G3"/>
<entry key="87" type="xstring" value="CSNK2A1"/>
<entry key="88" type="xstring" value="CSNK2A2"/>
<entry key="89" type="xstring" value="CTK"/>
<entry key="90" type="xstring" value="DAPK1"/>
<entry key="91" type="xstring" value="DAPK2"/>
<entry key="92" type="xstring" value="DAPK3"/>
<entry key="93" type="xstring" value="DCAMKL2"/>
<entry key="94" type="xstring" value="DCAMKL3"/>
<entry key="95" type="xstring" value="DCLK1"/>
<entry key="96" type="xstring" value="DDR1"/>
<entry key="97" type="xstring" value="DDR2"/>
<entry key="98" type="xstring" value="DMPK"/>
<entry key="99" type="xstring" value="DMPK2"/>
<entry key="100" type="xstring" value="DRAK1"/>
<entry key="101" type="xstring" value="DRAK2"/>
<entry key="102" type="xstring" value="DYRK1A"/>
<entry key="103" type="xstring" value="DYRK1B"/>
<entry key="104" type="xstring" value="DYRK2"/>
<entry key="105" type="xstring" value="EGFR(E746-A750del)"/>
<entry key="106" type="xstring" value="EGFR(G719C)"/>
<entry key="107" type="xstring" value="EGFR(G719S)"/>
<entry key="108" type="xstring" value="EGFR(L747-E749del, A750P)"/>
<entry key="109" type="xstring" value="EGFR(L747-S752del, P753S)"/>
<entry key="110" type="xstring" value="EGFR(L747-T751del,Sins)"/>
<entry key="111" type="xstring" value="EGFR(L858R)"/>
<entry key="112" type="xstring" value="EGFR(L858R,T790M)"/>
<entry key="113" type="xstring" value="EGFR(L861Q)"/>
<entry key="114" type="xstring" value="EGFR(S752-I759del)"/>
<entry key="115" type="xstring" value="EGFR(T790M)"/>
<entry key="116" type="xstring" value="EIF2AK1"/>
<entry key="117" type="xstring" value="EPHA1"/>
<entry key="118" type="xstring" value="EPHA2"/>
<entry key="119" type="xstring" value="EPHA3"/>
<entry key="120" type="xstring" value="EPHA4"/>
<entry key="121" type="xstring" value="EPHA5"/>
<entry key="122" type="xstring" value="EPHA6"/>
<entry key="123" type="xstring" value="EPHA7"/>
<entry key="124" type="xstring" value="EPHA8"/>
<entry key="125" type="xstring" value="EPHB1"/>
<entry key="126" type="xstring" value="EPHB2"/>
<entry key="127" type="xstring" value="EPHB3"/>
<entry key="128" type="xstring" value="EPHB4"/>
<entry key="129" type="xstring" value="EPHB6"/>
<entry key="130" type="xstring" value="ERBB2"/>
<entry key="131" type="xstring" value="ERBB3"/>
<entry key="132" type="xstring" value="ERBB4"/>
<entry key="133" type="xstring" value="ERK3"/>
<entry key="134" type="xstring" value="ERK4"/>
<entry key="135" type="xstring" value="ERK5"/>
<entry key="136" type="xstring" value="ERK8"/>
<entry key="137" type="xstring" value="ERN1"/>
<entry key="138" type="xstring" value="FAK1"/>
<entry key="139" type="xstring" value="FAK2"/>
<entry key="140" type="xstring" value="FER"/>
<entry key="141" type="xstring" value="FES"/>
<entry key="142" type="xstring" value="FGFR3(G697C)"/>
<entry key="143" type="xstring" value="FGFR4"/>
<entry key="144" type="xstring" value="FGR"/>
<entry key="145" type="xstring" value="FLT3"/>
<entry key="146" type="xstring" value="FLT3(D835H)"/>
<entry key="147" type="xstring" value="FLT3(D835Y)"/>
<entry key="148" type="xstring" value="FLT3(ITD)"/>
<entry key="149" type="xstring" value="FLT3(K663Q)"/>
<entry key="150" type="xstring" value="FLT3(N841I)"/>
<entry key="151" type="xstring" value="FLT3(R834Q)"/>
<entry key="152" type="xstring" value="FLT4"/>
<entry key="153" type="xstring" value="FRK"/>
<entry key="154" type="xstring" value="FYN"/>
<entry key="155" type="xstring" value="GAK"/>
<entry key="156" type="xstring" value="GCN2(Kin.Dom.2,S808G)"/>
<entry key="157" type="xstring" value="GRK1"/>
<entry key="158" type="xstring" value="GRK4"/>
<entry key="159" type="xstring" value="GRK7"/>
<entry key="160" type="xstring" value="GSK3A"/>
<entry key="161" type="xstring" value="GSK3B"/>
<entry key="162" type="xstring" value="HCK"/>
<entry key="163" type="xstring" value="HIPK1"/>
<entry key="164" type="xstring" value="HIPK2"/>
<entry key="165" type="xstring" value="HIPK3"/>
<entry key="166" type="xstring" value="HIPK4"/>
<entry key="167" type="xstring" value="HUNK"/>
<entry key="168" type="xstring" value="ICK"/>
<entry key="169" type="xstring" value="IGF1R"/>
<entry key="170" type="xstring" value="IKKA"/>
<entry key="171" type="xstring" value="IKKB"/>
<entry key="172" type="xstring" value="IKKE"/>
<entry key="173" type="xstring" value="INSR"/>
<entry key="174" type="xstring" value="INSRR"/>
<entry key="175" type="xstring" value="IRAK1"/>
<entry key="176" type="xstring" value="IRAK3"/>
<entry key="177" type="xstring" value="IRAK4"/>
<entry key="178" type="xstring" value="ITK"/>
<entry key="179" type="xstring" value="JAK1(JH1domain-catalytic)"/>
<entry key="180" type="xstring" value="JAK1(JH2domain-pseudokinase)"/>
<entry key="181" type="xstring" value="JAK2(JH1domain-catalytic)"/>
<entry key="182" type="xstring" value="JAK3(JH1domain-catalytic)"/>
<entry key="183" type="xstring" value="JNK1"/>
<entry key="184" type="xstring" value="JNK3"/>
<entry key="185" type="xstring" value="KC1G1"/>
<entry key="186" type="xstring" value="KC1G2"/>
<entry key="187" type="xstring" value="KCC2D"/>
<entry key="188" type="xstring" value="KCC4"/>
<entry key="189" type="xstring" value="KGP1"/>
<entry key="190" type="xstring" value="KGP2"/>
<entry key="191" type="xstring" value="KIT(A829P)"/>
<entry key="192" type="xstring" value="KIT(D816H)"/>
<entry key="193" type="xstring" value="KIT(D816V)"/>
<entry key="194" type="xstring" value="KIT(L576P)"/>
<entry key="195" type="xstring" value="KIT(V559D)"/>
<entry key="196" type="xstring" value="KIT(V559D,T670I)"/>
<entry key="197" type="xstring" value="KIT(V559D,V654A)"/>
<entry key="198" type="xstring" value="KKCC1"/>
<entry key="199" type="xstring" value="KPCD"/>
<entry key="200" type="xstring" value="KPCD1"/>
<entry key="201" type="xstring" value="KPCD2"/>
<entry key="202" type="xstring" value="KPCD3"/>
<entry key="203" type="xstring" value="KPCE"/>
<entry key="204" type="xstring" value="KPCI"/>
<entry key="205" type="xstring" value="KPCL"/>
<entry key="206" type="xstring" value="KPCT"/>
<entry key="207" type="xstring" value="LATS1"/>
<entry key="208" type="xstring" value="LATS2"/>
<entry key="209" type="xstring" value="LCK"/>
<entry key="210" type="xstring" value="LIMK1"/>
<entry key="211" type="xstring" value="LIMK2"/>
<entry key="212" type="xstring" value="LKB1"/>
<entry key="213" type="xstring" value="LOK"/>
<entry key="214" type="xstring" value="LRRK2"/>
<entry key="215" type="xstring" value="LRRK2(G2019S)"/>
<entry key="216" type="xstring" value="LTK"/>
<entry key="217" type="xstring" value="LYN"/>
<entry key="218" type="xstring" value="M3K12"/>
<entry key="219" type="xstring" value="M3K13"/>
<entry key="220" type="xstring" value="M3K2"/>
<entry key="221" type="xstring" value="M3K5"/>
<entry key="222" type="xstring" value="M3K6"/>
<entry key="223" type="xstring" value="M4K1"/>
<entry key="224" type="xstring" value="M4K3"/>
<entry key="225" type="xstring" value="MAK"/>
<entry key="226" type="xstring" value="MAP3K1"/>
<entry key="227" type="xstring" value="MAP3K15"/>
<entry key="228" type="xstring" value="MAP3K3"/>
<entry key="229" type="xstring" value="MAP3K4"/>
<entry key="230" type="xstring" value="MAP4K2"/>
<entry key="231" type="xstring" value="MAP4K4"/>
<entry key="232" type="xstring" value="MAP4K5"/>
<entry key="233" type="xstring" value="MAPKAPK2"/>
<entry key="234" type="xstring" value="MAPKAPK5"/>
<entry key="235" type="xstring" value="MARK1"/>
<entry key="236" type="xstring" value="MARK2"/>
<entry key="237" type="xstring" value="MARK3"/>
<entry key="238" type="xstring" value="MARK4"/>
<entry key="239" type="xstring" value="MAST1"/>
<entry key="240" type="xstring" value="MELK"/>
<entry key="241" type="xstring" value="MERTK"/>
<entry key="242" type="xstring" value="MET"/>
<entry key="243" type="xstring" value="MET(M1250T)"/>
<entry key="244" type="xstring" value="MET(Y1235D)"/>
<entry key="245" type="xstring" value="MINK"/>
<entry key="246" type="xstring" value="MK01"/>
<entry key="247" type="xstring" value="MK03"/>
<entry key="248" type="xstring" value="MK09"/>
<entry key="249" type="xstring" value="MK11"/>
<entry key="250" type="xstring" value="MK12"/>
<entry key="251" type="xstring" value="MK13"/>
<entry key="252" type="xstring" value="MK14"/>
<entry key="253" type="xstring" value="MKNK1"/>
<entry key="254" type="xstring" value="MKNK2"/>
<entry key="255" type="xstring" value="MLCK"/>
<entry key="256" type="xstring" value="MLK1"/>
<entry key="257" type="xstring" value="MLK2"/>
<entry key="258" type="xstring" value="MLK3"/>
<entry key="259" type="xstring" value="MLTK"/>
<entry key="260" type="xstring" value="MP2K1"/>
<entry key="261" type="xstring" value="MP2K2"/>
<entry key="262" type="xstring" value="MP2K3"/>
<entry key="263" type="xstring" value="MP2K4"/>
<entry key="264" type="xstring" value="MP2K5"/>
<entry key="265" type="xstring" value="MP2K6"/>
<entry key="266" type="xstring" value="MP2K7"/>
<entry key="267" type="xstring" value="MRCKA"/>
<entry key="268" type="xstring" value="MRCKB"/>
<entry key="269" type="xstring" value="MST1"/>
<entry key="270" type="xstring" value="MST1R"/>
<entry key="271" type="xstring" value="MST2"/>
<entry key="272" type="xstring" value="MST3"/>
<entry key="273" type="xstring" value="MST4"/>
<entry key="274" type="xstring" value="MTOR"/>
<entry key="275" type="xstring" value="MUSK"/>
<entry key="276" type="xstring" value="MYLK"/>
<entry key="277" type="xstring" value="MYLK2"/>
<entry key="278" type="xstring" value="MYLK4"/>
<entry key="279" type="xstring" value="MYO3A"/>
<entry key="280" type="xstring" value="MYO3B"/>
<entry key="281" type="xstring" value="NDR1"/>
<entry key="282" type="xstring" value="NDR2"/>
<entry key="283" type="xstring" value="NEK1"/>
<entry key="284" type="xstring" value="NEK11"/>
<entry key="285" type="xstring" value="NEK2"/>
<entry key="286" type="xstring" value="NEK3"/>
<entry key="287" type="xstring" value="NEK4"/>
<entry key="288" type="xstring" value="NEK5"/>
<entry key="289" type="xstring" value="NEK6"/>
<entry key="290" type="xstring" value="NEK7"/>
<entry key="291" type="xstring" value="NEK9"/>
<entry key="292" type="xstring" value="NIM1"/>
<entry key="293" type="xstring" value="NLK"/>
<entry key="294" type="xstring" value="NUAK1"/>
<entry key="295" type="xstring" value="OSR1"/>
<entry key="296" type="xstring" value="PAK1"/>
<entry key="297" type="xstring" value="PAK2"/>
<entry key="298" type="xstring" value="PAK3"/>
<entry key="299" type="xstring" value="PAK4"/>
<entry key="300" type="xstring" value="PAK6"/>
<entry key="301" type="xstring" value="PAK7"/>
<entry key="302" type="xstring" value="PCTK2"/>
<entry key="303" type="xstring" value="PCTK3"/>
<entry key="304" type="xstring" value="PDPK1"/>
<entry key="305" type="xstring" value="PFCDPK1(P.falciparum)"/>
<entry key="306" type="xstring" value="PFPK5(P.falciparum)"/>
<entry key="307" type="xstring" value="PGFRA"/>
<entry key="308" type="xstring" value="PGFRB"/>
<entry key="309" type="xstring" value="PHKG1"/>
<entry key="310" type="xstring" value="PHKG2"/>
<entry key="311" type="xstring" value="PI42C"/>
<entry key="312" type="xstring" value="PIK3C2B"/>
<entry key="313" type="xstring" value="PIK3C2G"/>
<entry key="314" type="xstring" value="PIK3CA"/>
<entry key="315" type="xstring" value="PIK3CA(C420R)"/>
<entry key="316" type="xstring" value="PIK3CA(E542K)"/>
<entry key="317" type="xstring" value="PIK3CA(E545A)"/>
<entry key="318" type="xstring" value="PIK3CA(E545K)"/>
<entry key="319" type="xstring" value="PIK3CA(H1047L)"/>
<entry key="320" type="xstring" value="PIK3CA(H1047Y)"/>
<entry key="321" type="xstring" value="PIK3CA(I800L)"/>
<entry key="322" type="xstring" value="PIK3CA(M1043I)"/>
<entry key="323" type="xstring" value="PIK3CA(Q546K)"/>
<entry key="324" type="xstring" value="PIK3CB"/>
<entry key="325" type="xstring" value="PIK3CD"/>
<entry key="326" type="xstring" value="PIK3CG"/>
<entry key="327" type="xstring" value="PIK4CB"/>
<entry key="328" type="xstring" value="PIM1"/>
<entry key="329" type="xstring" value="PIM2"/>
<entry key="330" type="xstring" value="PIM3"/>
<entry key="331" type="xstring" value="PIP5K1A"/>
<entry key="332" type="xstring" value="PIP5K1C"/>
<entry key="333" type="xstring" value="PIP5K2B"/>
<entry key="334" type="xstring" value="PKAC-alpha"/>
<entry key="335" type="xstring" value="PKAC-beta"/>
<entry key="336" type="xstring" value="PKMYT1"/>
<entry key="337" type="xstring" value="PKN1"/>
<entry key="338" type="xstring" value="PKN2"/>
<entry key="339" type="xstring" value="PKNB(M.tuberculosis)"/>
<entry key="340" type="xstring" value="PLK1"/>
<entry key="341" type="xstring" value="PLK2"/>
<entry key="342" type="xstring" value="PLK3"/>
<entry key="343" type="xstring" value="PLK4"/>
<entry key="344" type="xstring" value="PRKR"/>
<entry key="345" type="xstring" value="PRKX"/>
<entry key="346" type="xstring" value="PRP4"/>
<entry key="347" type="xstring" value="PTK6"/>
<entry key="348" type="xstring" value="RAF1"/>
<entry key="349" type="xstring" value="RET"/>
<entry key="350" type="xstring" value="RET(M918T)"/>
<entry key="351" type="xstring" value="RET(V804L)"/>
<entry key="352" type="xstring" value="RET(V804M)"/>
<entry key="353" type="xstring" value="RIOK1"/>
<entry key="354" type="xstring" value="RIOK2"/>
<entry key="355" type="xstring" value="RIOK3"/>
<entry key="356" type="xstring" value="RIPK1"/>
<entry key="357" type="xstring" value="RIPK2"/>
<entry key="358" type="xstring" value="RIPK4"/>
<entry key="359" type="xstring" value="RIPK5"/>
<entry key="360" type="xstring" value="ROCK1"/>
<entry key="361" type="xstring" value="ROCK2"/>
<entry key="362" type="xstring" value="ROS1"/>
<entry key="363" type="xstring" value="RPS6KA4(Kin.Dom.1-N-terminal)"/>
<entry key="364" type="xstring" value="RPS6KA4(Kin.Dom.2-C-terminal)"/>
<entry key="365" type="xstring" value="RPS6KA5(Kin.Dom.1-N-terminal)"/>
<entry key="366" type="xstring" value="RPS6KA5(Kin.Dom.2-C-terminal)"/>
<entry key="367" type="xstring" value="RSK1(Kin.Dom.1-N-terminal)"/>
<entry key="368" type="xstring" value="RSK1(Kin.Dom.2-C-terminal)"/>
<entry key="369" type="xstring" value="RSK2(Kin.Dom.1-N-terminal)"/>
<entry key="370" type="xstring" value="RSK3(Kin.Dom.1-N-terminal)"/>
<entry key="371" type="xstring" value="RSK3(Kin.Dom.2-C-terminal)"/>
<entry key="372" type="xstring" value="RSK4(Kin.Dom.1-N-terminal)"/>
<entry key="373" type="xstring" value="RSK4(Kin.Dom.2-C-terminal)"/>
<entry key="374" type="xstring" value="S6K1"/>
<entry key="375" type="xstring" value="SBK1"/>
<entry key="376" type="xstring" value="SGK3"/>
<entry key="377" type="xstring" value="SIK1"/>
<entry key="378" type="xstring" value="SIK2"/>
<entry key="379" type="xstring" value="SIK3"/>
<entry key="380" type="xstring" value="SLK"/>
<entry key="381" type="xstring" value="SNARK"/>
<entry key="382" type="xstring" value="SNRK"/>
<entry key="383" type="xstring" value="SRC"/>
<entry key="384" type="xstring" value="SRMS"/>
<entry key="385" type="xstring" value="SRPK1"/>
<entry key="386" type="xstring" value="SRPK2"/>
<entry key="387" type="xstring" value="SRPK3"/>
<entry key="388" type="xstring" value="STK16"/>
<entry key="389" type="xstring" value="STK33"/>
<entry key="390" type="xstring" value="STK35"/>
<entry key="391" type="xstring" value="STK36"/>
<entry key="392" type="xstring" value="STK39"/>
<entry key="393" type="xstring" value="SYK"/>
<entry key="394" type="xstring" value="SgK110"/>
<entry key="395" type="xstring" value="TAK1"/>
<entry key="396" type="xstring" value="TAOK1"/>
<entry key="397" type="xstring" value="TAOK2"/>
<entry key="398" type="xstring" value="TAOK3"/>
<entry key="399" type="xstring" value="TBK1"/>
<entry key="400" type="xstring" value="TEC"/>
<entry key="401" type="xstring" value="TESK1"/>
<entry key="402" type="xstring" value="TGFBR1"/>
<entry key="403" type="xstring" value="TGFBR2"/>
<entry key="404" type="xstring" value="TIE1"/>
<entry key="405" type="xstring" value="TIE2"/>
<entry key="406" type="xstring" value="TLK1"/>
<entry key="407" type="xstring" value="TLK2"/>
<entry key="408" type="xstring" value="TNIK"/>
<entry key="409" type="xstring" value="TNK1"/>
<entry key="410" type="xstring" value="TNK2"/>
<entry key="411" type="xstring" value="TNNI3K"/>
<entry key="412" type="xstring" value="TRKA"/>
<entry key="413" type="xstring" value="TRKB"/>
<entry key="414" type="xstring" value="TRKC"/>
<entry key="415" type="xstring" value="TRPM6"/>
<entry key="416" type="xstring" value="TSSK1"/>
<entry key="417" type="xstring" value="TTK"/>
<entry key="418" type="xstring" value="TXK"/>
<entry key="419" type="xstring" value="TYK2(JH1domain-catalytic)"/>
<entry key="420" type="xstring" value="TYK2(JH2domain-pseudokinase)"/>
<entry key="421" type="xstring" value="TYRO3"/>
<entry key="422" type="xstring" value="ULK1"/>
<entry key="423" type="xstring" value="ULK2"/>
<entry key="424" type="xstring" value="ULK3"/>
<entry key="425" type="xstring" value="VGFR1"/>
<entry key="426" type="xstring" value="VGFR2"/>
<entry key="427" type="xstring" value="VRK2"/>
<entry key="428" type="xstring" value="WEE1"/>
<entry key="429" type="xstring" value="WEE2"/>
<entry key="430" type="xstring" value="YANK1"/>
<entry key="431" type="xstring" value="YANK2"/>
<entry key="432" type="xstring" value="YANK3"/>
<entry key="433" type="xstring" value="YES"/>
<entry key="434" type="xstring" value="YSK1"/>
<entry key="435" type="xstring" value="YSK4"/>
<entry key="436" type="xstring" value="ZAP70"/>
<entry key="437" type="xstring" value="compound_structure"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
</config>
<entry key="label" type="xstring" value="Select data"/>
<entry key="description" type="xstring" value="Select data to cluster"/>
<entry key="hideInWizard" type="xboolean" value="false"/>
<entry key="hideInDialog" type="xboolean" value="false"/>
<entry key="required" type="xboolean" value="true"/>
<entry key="parameterName" type="xstring" value="column-filter"/>
<entry key="customCSS" type="xstring" value=""/>
<entry key="flowvariablename" type="xstring" value="cols"/>
<config key="possibleColumns">
<entry key="array-size" type="xint" value="446"/>
<entry key="0" type="xstring" value="data_id"/>
<entry key="1" type="xstring" value="compound_name"/>
<entry key="2" type="xstring" value="compound_id"/>
<entry key="3" type="xstring" value="AAK1"/>
<entry key="4" type="xstring" value="ABL1(E255K)-phosphorylated"/>
<entry key="5" type="xstring" value="ABL1(F317I)-nonphosphorylated"/>
<entry key="6" type="xstring" value="ABL1(F317I)-phosphorylated"/>
<entry key="7" type="xstring" value="ABL1(F317L)-nonphosphorylated"/>
<entry key="8" type="xstring" value="ABL1(F317L)-phosphorylated"/>
<entry key="9" type="xstring" value="ABL1(H396P)-nonphosphorylated"/>
<entry key="10" type="xstring" value="ABL1(H396P)-phosphorylated"/>
<entry key="11" type="xstring" value="ABL1(M351T)-phosphorylated"/>
<entry key="12" type="xstring" value="ABL1(Q252H)-nonphosphorylated"/>
<entry key="13" type="xstring" value="ABL1(Q252H)-phosphorylated"/>
<entry key="14" type="xstring" value="ABL1(T315I)-nonphosphorylated"/>
<entry key="15" type="xstring" value="ABL1(T315I)-phosphorylated"/>
<entry key="16" type="xstring" value="ABL1(Y253F)-phosphorylated"/>
<entry key="17" type="xstring" value="ABL1-nonphosphorylated"/>
<entry key="18" type="xstring" value="ABL1-phosphorylated"/>
<entry key="19" type="xstring" value="ABL2"/>
<entry key="20" type="xstring" value="ACVR1"/>
<entry key="21" type="xstring" value="ACVR1B"/>
<entry key="22" type="xstring" value="ACVR2A"/>
<entry key="23" type="xstring" value="ACVR2B"/>
<entry key="24" type="xstring" value="ACVRL1"/>
<entry key="25" type="xstring" value="ADCK3"/>
<entry key="26" type="xstring" value="ADCK4"/>
<entry key="27" type="xstring" value="AKT1"/>
<entry key="28" type="xstring" value="AKT2"/>
<entry key="29" type="xstring" value="AKT3"/>
<entry key="30" type="xstring" value="ALK"/>
<entry key="31" type="xstring" value="AMPK-alpha1"/>
<entry key="32" type="xstring" value="AMPK-alpha2"/>
<entry key="33" type="xstring" value="ANKK1"/>
<entry key="34" type="xstring" value="AURKA"/>
<entry key="35" type="xstring" value="AURKB"/>
<entry key="36" type="xstring" value="AURKC"/>
<entry key="37" type="xstring" value="AXL"/>
<entry key="38" type="xstring" value="BIKE"/>
<entry key="39" type="xstring" value="BLK"/>
<entry key="40" type="xstring" value="BMPR1A"/>
<entry key="41" type="xstring" value="BMPR1B"/>
<entry key="42" type="xstring" value="BMPR2"/>
<entry key="43" type="xstring" value="BMX"/>
<entry key="44" type="xstring" value="BRAF"/>
<entry key="45" type="xstring" value="BRAF(V600E)"/>
<entry key="46" type="xstring" value="BRSK1"/>
<entry key="47" type="xstring" value="BRSK2"/>
<entry key="48" type="xstring" value="BTK"/>
<entry key="49" type="xstring" value="CAMK1"/>
<entry key="50" type="xstring" value="CAMK1D"/>
<entry key="51" type="xstring" value="CAMK1G"/>
<entry key="52" type="xstring" value="CAMK2A"/>
<entry key="53" type="xstring" value="CAMK2B"/>
<entry key="54" type="xstring" value="CAMK2G"/>
<entry key="55" type="xstring" value="CAMKK2"/>
<entry key="56" type="xstring" value="CASK"/>
<entry key="57" type="xstring" value="CDC2L1"/>
<entry key="58" type="xstring" value="CDC2L2"/>
<entry key="59" type="xstring" value="CDC2L5"/>
<entry key="60" type="xstring" value="CDK11"/>
<entry key="61" type="xstring" value="CDK14"/>
<entry key="62" type="xstring" value="CDK15"/>
<entry key="63" type="xstring" value="CDK16"/>
<entry key="64" type="xstring" value="CDK2"/>
<entry key="65" type="xstring" value="CDK3"/>
<entry key="66" type="xstring" value="CDK4-cyclinD1"/>
<entry key="67" type="xstring" value="CDK4-cyclinD3"/>
<entry key="68" type="xstring" value="CDK5"/>
<entry key="69" type="xstring" value="CDK7"/>
<entry key="70" type="xstring" value="CDK8"/>
<entry key="71" type="xstring" value="CDK9"/>
<entry key="72" type="xstring" value="CDKL1"/>
<entry key="73" type="xstring" value="CDKL2"/>
<entry key="74" type="xstring" value="CDKL3"/>
<entry key="75" type="xstring" value="CDKL5"/>
<entry key="76" type="xstring" value="CHEK1"/>
<entry key="77" type="xstring" value="CHK2"/>
<entry key="78" type="xstring" value="CIT"/>
<entry key="79" type="xstring" value="CLK1"/>
<entry key="80" type="xstring" value="CLK2"/>
<entry key="81" type="xstring" value="CLK3"/>
<entry key="82" type="xstring" value="CLK4"/>
<entry key="83" type="xstring" value="CSF1R"/>
<entry key="84" type="xstring" value="CSK"/>
<entry key="85" type="xstring" value="CSNK1A1"/>
<entry key="86" type="xstring" value="CSNK1A1L"/>
<entry key="87" type="xstring" value="CSNK1D"/>
<entry key="88" type="xstring" value="CSNK1E"/>
<entry key="89" type="xstring" value="CSNK1G3"/>
<entry key="90" type="xstring" value="CSNK2A1"/>
<entry key="91" type="xstring" value="CSNK2A2"/>
<entry key="92" type="xstring" value="CTK"/>
<entry key="93" type="xstring" value="DAPK1"/>
<entry key="94" type="xstring" value="DAPK2"/>
<entry key="95" type="xstring" value="DAPK3"/>
<entry key="96" type="xstring" value="DCAMKL2"/>
<entry key="97" type="xstring" value="DCAMKL3"/>
<entry key="98" type="xstring" value="DCLK1"/>
<entry key="99" type="xstring" value="DDR1"/>
<entry key="100" type="xstring" value="DDR2"/>
<entry key="101" type="xstring" value="DMPK"/>
<entry key="102" type="xstring" value="DMPK2"/>
<entry key="103" type="xstring" value="DRAK1"/>
<entry key="104" type="xstring" value="DRAK2"/>
<entry key="105" type="xstring" value="DYRK1A"/>
<entry key="106" type="xstring" value="DYRK1B"/>
<entry key="107" type="xstring" value="DYRK2"/>
<entry key="108" type="xstring" value="EGFR"/>
<entry key="109" type="xstring" value="EGFR(E746-A750del)"/>
<entry key="110" type="xstring" value="EGFR(G719C)"/>
<entry key="111" type="xstring" value="EGFR(G719S)"/>
<entry key="112" type="xstring" value="EGFR(L747-E749del, A750P)"/>
<entry key="113" type="xstring" value="EGFR(L747-S752del, P753S)"/>
<entry key="114" type="xstring" value="EGFR(L747-T751del,Sins)"/>
<entry key="115" type="xstring" value="EGFR(L858R)"/>
<entry key="116" type="xstring" value="EGFR(L858R,T790M)"/>
<entry key="117" type="xstring" value="EGFR(L861Q)"/>
<entry key="118" type="xstring" value="EGFR(S752-I759del)"/>
<entry key="119" type="xstring" value="EGFR(T790M)"/>
<entry key="120" type="xstring" value="EIF2AK1"/>
<entry key="121" type="xstring" value="EPHA1"/>
<entry key="122" type="xstring" value="EPHA2"/>
<entry key="123" type="xstring" value="EPHA3"/>
<entry key="124" type="xstring" value="EPHA4"/>
<entry key="125" type="xstring" value="EPHA5"/>
<entry key="126" type="xstring" value="EPHA6"/>
<entry key="127" type="xstring" value="EPHA7"/>
<entry key="128" type="xstring" value="EPHA8"/>
<entry key="129" type="xstring" value="EPHB1"/>
<entry key="130" type="xstring" value="EPHB2"/>
<entry key="131" type="xstring" value="EPHB3"/>
<entry key="132" type="xstring" value="EPHB4"/>
<entry key="133" type="xstring" value="EPHB6"/>
<entry key="134" type="xstring" value="ERBB2"/>
<entry key="135" type="xstring" value="ERBB3"/>
<entry key="136" type="xstring" value="ERBB4"/>
<entry key="137" type="xstring" value="ERK3"/>
<entry key="138" type="xstring" value="ERK4"/>
<entry key="139" type="xstring" value="ERK5"/>
<entry key="140" type="xstring" value="ERK8"/>
<entry key="141" type="xstring" value="ERN1"/>
<entry key="142" type="xstring" value="FAK1"/>
<entry key="143" type="xstring" value="FAK2"/>
<entry key="144" type="xstring" value="FER"/>
<entry key="145" type="xstring" value="FES"/>
<entry key="146" type="xstring" value="FGFR1"/>
<entry key="147" type="xstring" value="FGFR2"/>
<entry key="148" type="xstring" value="FGFR3"/>
<entry key="149" type="xstring" value="FGFR3(G697C)"/>
<entry key="150" type="xstring" value="FGFR4"/>
<entry key="151" type="xstring" value="FGR"/>
<entry key="152" type="xstring" value="FLT3"/>
<entry key="153" type="xstring" value="FLT3(D835H)"/>
<entry key="154" type="xstring" value="FLT3(D835Y)"/>
<entry key="155" type="xstring" value="FLT3(ITD)"/>
<entry key="156" type="xstring" value="FLT3(K663Q)"/>
<entry key="157" type="xstring" value="FLT3(N841I)"/>
<entry key="158" type="xstring" value="FLT3(R834Q)"/>
<entry key="159" type="xstring" value="FLT4"/>
<entry key="160" type="xstring" value="FRK"/>
<entry key="161" type="xstring" value="FYN"/>
<entry key="162" type="xstring" value="GAK"/>
<entry key="163" type="xstring" value="GCN2(Kin.Dom.2,S808G)"/>
<entry key="164" type="xstring" value="GRK1"/>
<entry key="165" type="xstring" value="GRK4"/>
<entry key="166" type="xstring" value="GRK7"/>
<entry key="167" type="xstring" value="GSK3A"/>
<entry key="168" type="xstring" value="GSK3B"/>
<entry key="169" type="xstring" value="HCK"/>
<entry key="170" type="xstring" value="HIPK1"/>
<entry key="171" type="xstring" value="HIPK2"/>
<entry key="172" type="xstring" value="HIPK3"/>
<entry key="173" type="xstring" value="HIPK4"/>
<entry key="174" type="xstring" value="HUNK"/>
<entry key="175" type="xstring" value="ICK"/>
<entry key="176" type="xstring" value="IGF1R"/>
<entry key="177" type="xstring" value="IKKA"/>
<entry key="178" type="xstring" value="IKKB"/>
<entry key="179" type="xstring" value="IKKE"/>
<entry key="180" type="xstring" value="INSR"/>
<entry key="181" type="xstring" value="INSRR"/>
<entry key="182" type="xstring" value="IRAK1"/>
<entry key="183" type="xstring" value="IRAK3"/>
<entry key="184" type="xstring" value="IRAK4"/>
<entry key="185" type="xstring" value="ITK"/>
<entry key="186" type="xstring" value="JAK1(JH1domain-catalytic)"/>
<entry key="187" type="xstring" value="JAK1(JH2domain-pseudokinase)"/>
<entry key="188" type="xstring" value="JAK2(JH1domain-catalytic)"/>
<entry key="189" type="xstring" value="JAK3(JH1domain-catalytic)"/>
<entry key="190" type="xstring" value="JNK1"/>
<entry key="191" type="xstring" value="JNK3"/>
<entry key="192" type="xstring" value="KC1G1"/>
<entry key="193" type="xstring" value="KC1G2"/>
<entry key="194" type="xstring" value="KCC2D"/>
<entry key="195" type="xstring" value="KCC4"/>
<entry key="196" type="xstring" value="KGP1"/>
<entry key="197" type="xstring" value="KGP2"/>
<entry key="198" type="xstring" value="KIT"/>
<entry key="199" type="xstring" value="KIT(A829P)"/>
<entry key="200" type="xstring" value="KIT(D816H)"/>
<entry key="201" type="xstring" value="KIT(D816V)"/>
<entry key="202" type="xstring" value="KIT(L576P)"/>
<entry key="203" type="xstring" value="KIT(V559D)"/>
<entry key="204" type="xstring" value="KIT(V559D,T670I)"/>
<entry key="205" type="xstring" value="KIT(V559D,V654A)"/>
<entry key="206" type="xstring" value="KKCC1"/>
<entry key="207" type="xstring" value="KPCD"/>
<entry key="208" type="xstring" value="KPCD1"/>
<entry key="209" type="xstring" value="KPCD2"/>
<entry key="210" type="xstring" value="KPCD3"/>
<entry key="211" type="xstring" value="KPCE"/>
<entry key="212" type="xstring" value="KPCI"/>
<entry key="213" type="xstring" value="KPCL"/>
<entry key="214" type="xstring" value="KPCT"/>
<entry key="215" type="xstring" value="LATS1"/>
<entry key="216" type="xstring" value="LATS2"/>
<entry key="217" type="xstring" value="LCK"/>
<entry key="218" type="xstring" value="LIMK1"/>
<entry key="219" type="xstring" value="LIMK2"/>
<entry key="220" type="xstring" value="LKB1"/>
<entry key="221" type="xstring" value="LOK"/>
<entry key="222" type="xstring" value="LRRK2"/>
<entry key="223" type="xstring" value="LRRK2(G2019S)"/>
<entry key="224" type="xstring" value="LTK"/>
<entry key="225" type="xstring" value="LYN"/>
<entry key="226" type="xstring" value="M3K12"/>
<entry key="227" type="xstring" value="M3K13"/>
<entry key="228" type="xstring" value="M3K2"/>
<entry key="229" type="xstring" value="M3K5"/>
<entry key="230" type="xstring" value="M3K6"/>
<entry key="231" type="xstring" value="M4K1"/>
<entry key="232" type="xstring" value="M4K3"/>
<entry key="233" type="xstring" value="MAK"/>
<entry key="234" type="xstring" value="MAP3K1"/>
<entry key="235" type="xstring" value="MAP3K15"/>
<entry key="236" type="xstring" value="MAP3K3"/>
<entry key="237" type="xstring" value="MAP3K4"/>
<entry key="238" type="xstring" value="MAP4K2"/>
<entry key="239" type="xstring" value="MAP4K4"/>
<entry key="240" type="xstring" value="MAP4K5"/>
<entry key="241" type="xstring" value="MAPKAPK2"/>
<entry key="242" type="xstring" value="MAPKAPK5"/>
<entry key="243" type="xstring" value="MARK1"/>
<entry key="244" type="xstring" value="MARK2"/>
<entry key="245" type="xstring" value="MARK3"/>
<entry key="246" type="xstring" value="MARK4"/>
<entry key="247" type="xstring" value="MAST1"/>
<entry key="248" type="xstring" value="MELK"/>
<entry key="249" type="xstring" value="MERTK"/>
<entry key="250" type="xstring" value="MET"/>
<entry key="251" type="xstring" value="MET(M1250T)"/>
<entry key="252" type="xstring" value="MET(Y1235D)"/>
<entry key="253" type="xstring" value="MINK"/>
<entry key="254" type="xstring" value="MK01"/>
<entry key="255" type="xstring" value="MK03"/>
<entry key="256" type="xstring" value="MK09"/>
<entry key="257" type="xstring" value="MK11"/>
<entry key="258" type="xstring" value="MK12"/>
<entry key="259" type="xstring" value="MK13"/>
<entry key="260" type="xstring" value="MK14"/>
<entry key="261" type="xstring" value="MKNK1"/>
<entry key="262" type="xstring" value="MKNK2"/>
<entry key="263" type="xstring" value="MLCK"/>
<entry key="264" type="xstring" value="MLK1"/>
<entry key="265" type="xstring" value="MLK2"/>
<entry key="266" type="xstring" value="MLK3"/>
<entry key="267" type="xstring" value="MLTK"/>
<entry key="268" type="xstring" value="MP2K1"/>
<entry key="269" type="xstring" value="MP2K2"/>
<entry key="270" type="xstring" value="MP2K3"/>
<entry key="271" type="xstring" value="MP2K4"/>
<entry key="272" type="xstring" value="MP2K5"/>
<entry key="273" type="xstring" value="MP2K6"/>
<entry key="274" type="xstring" value="MP2K7"/>
<entry key="275" type="xstring" value="MRCKA"/>
<entry key="276" type="xstring" value="MRCKB"/>
<entry key="277" type="xstring" value="MST1"/>
<entry key="278" type="xstring" value="MST1R"/>
<entry key="279" type="xstring" value="MST2"/>
<entry key="280" type="xstring" value="MST3"/>
<entry key="281" type="xstring" value="MST4"/>
<entry key="282" type="xstring" value="MTOR"/>
<entry key="283" type="xstring" value="MUSK"/>
<entry key="284" type="xstring" value="MYLK"/>
<entry key="285" type="xstring" value="MYLK2"/>
<entry key="286" type="xstring" value="MYLK4"/>
<entry key="287" type="xstring" value="MYO3A"/>
<entry key="288" type="xstring" value="MYO3B"/>
<entry key="289" type="xstring" value="NDR1"/>
<entry key="290" type="xstring" value="NDR2"/>
<entry key="291" type="xstring" value="NEK1"/>
<entry key="292" type="xstring" value="NEK11"/>
<entry key="293" type="xstring" value="NEK2"/>
<entry key="294" type="xstring" value="NEK3"/>
<entry key="295" type="xstring" value="NEK4"/>
<entry key="296" type="xstring" value="NEK5"/>
<entry key="297" type="xstring" value="NEK6"/>
<entry key="298" type="xstring" value="NEK7"/>
<entry key="299" type="xstring" value="NEK9"/>
<entry key="300" type="xstring" value="NIM1"/>
<entry key="301" type="xstring" value="NLK"/>
<entry key="302" type="xstring" value="NUAK1"/>
<entry key="303" type="xstring" value="OSR1"/>
<entry key="304" type="xstring" value="PAK1"/>
<entry key="305" type="xstring" value="PAK2"/>
<entry key="306" type="xstring" value="PAK3"/>
<entry key="307" type="xstring" value="PAK4"/>
<entry key="308" type="xstring" value="PAK6"/>
<entry key="309" type="xstring" value="PAK7"/>
<entry key="310" type="xstring" value="PCTK2"/>
<entry key="311" type="xstring" value="PCTK3"/>
<entry key="312" type="xstring" value="PDPK1"/>
<entry key="313" type="xstring" value="PFCDPK1(P.falciparum)"/>
<entry key="314" type="xstring" value="PFPK5(P.falciparum)"/>
<entry key="315" type="xstring" value="PGFRA"/>
<entry key="316" type="xstring" value="PGFRB"/>
<entry key="317" type="xstring" value="PHKG1"/>
<entry key="318" type="xstring" value="PHKG2"/>
<entry key="319" type="xstring" value="PI42C"/>
<entry key="320" type="xstring" value="PIK3C2B"/>
<entry key="321" type="xstring" value="PIK3C2G"/>
<entry key="322" type="xstring" value="PIK3CA"/>
<entry key="323" type="xstring" value="PIK3CA(C420R)"/>
<entry key="324" type="xstring" value="PIK3CA(E542K)"/>
<entry key="325" type="xstring" value="PIK3CA(E545A)"/>
<entry key="326" type="xstring" value="PIK3CA(E545K)"/>
<entry key="327" type="xstring" value="PIK3CA(H1047L)"/>
<entry key="328" type="xstring" value="PIK3CA(H1047Y)"/>
<entry key="329" type="xstring" value="PIK3CA(I800L)"/>
<entry key="330" type="xstring" value="PIK3CA(M1043I)"/>
<entry key="331" type="xstring" value="PIK3CA(Q546K)"/>
<entry key="332" type="xstring" value="PIK3CB"/>
<entry key="333" type="xstring" value="PIK3CD"/>
<entry key="334" type="xstring" value="PIK3CG"/>
<entry key="335" type="xstring" value="PIK4CB"/>
<entry key="336" type="xstring" value="PIM1"/>
<entry key="337" type="xstring" value="PIM2"/>
<entry key="338" type="xstring" value="PIM3"/>
<entry key="339" type="xstring" value="PIP5K1A"/>
<entry key="340" type="xstring" value="PIP5K1C"/>
<entry key="341" type="xstring" value="PIP5K2B"/>
<entry key="342" type="xstring" value="PKAC-alpha"/>
<entry key="343" type="xstring" value="PKAC-beta"/>
<entry key="344" type="xstring" value="PKMYT1"/>
<entry key="345" type="xstring" value="PKN1"/>
<entry key="346" type="xstring" value="PKN2"/>
<entry key="347" type="xstring" value="PKNB(M.tuberculosis)"/>
<entry key="348" type="xstring" value="PLK1"/>
<entry key="349" type="xstring" value="PLK2"/>
<entry key="350" type="xstring" value="PLK3"/>
<entry key="351" type="xstring" value="PLK4"/>
<entry key="352" type="xstring" value="PRKR"/>
<entry key="353" type="xstring" value="PRKX"/>
<entry key="354" type="xstring" value="PRP4"/>
<entry key="355" type="xstring" value="PTK6"/>
<entry key="356" type="xstring" value="RAF1"/>
<entry key="357" type="xstring" value="RET"/>
<entry key="358" type="xstring" value="RET(M918T)"/>
<entry key="359" type="xstring" value="RET(V804L)"/>
<entry key="360" type="xstring" value="RET(V804M)"/>
<entry key="361" type="xstring" value="RIOK1"/>
<entry key="362" type="xstring" value="RIOK2"/>
<entry key="363" type="xstring" value="RIOK3"/>
<entry key="364" type="xstring" value="RIPK1"/>
<entry key="365" type="xstring" value="RIPK2"/>
<entry key="366" type="xstring" value="RIPK4"/>
<entry key="367" type="xstring" value="RIPK5"/>
<entry key="368" type="xstring" value="ROCK1"/>
<entry key="369" type="xstring" value="ROCK2"/>
<entry key="370" type="xstring" value="ROS1"/>
<entry key="371" type="xstring" value="RPS6KA4(Kin.Dom.1-N-terminal)"/>
<entry key="372" type="xstring" value="RPS6KA4(Kin.Dom.2-C-terminal)"/>
<entry key="373" type="xstring" value="RPS6KA5(Kin.Dom.1-N-terminal)"/>
<entry key="374" type="xstring" value="RPS6KA5(Kin.Dom.2-C-terminal)"/>
<entry key="375" type="xstring" value="RSK1(Kin.Dom.1-N-terminal)"/>
<entry key="376" type="xstring" value="RSK1(Kin.Dom.2-C-terminal)"/>
<entry key="377" type="xstring" value="RSK2(Kin.Dom.1-N-terminal)"/>
<entry key="378" type="xstring" value="RSK3(Kin.Dom.1-N-terminal)"/>
<entry key="379" type="xstring" value="RSK3(Kin.Dom.2-C-terminal)"/>
<entry key="380" type="xstring" value="RSK4(Kin.Dom.1-N-terminal)"/>
<entry key="381" type="xstring" value="RSK4(Kin.Dom.2-C-terminal)"/>
<entry key="382" type="xstring" value="S6K1"/>
<entry key="383" type="xstring" value="SBK1"/>
<entry key="384" type="xstring" value="SGK3"/>
<entry key="385" type="xstring" value="SIK1"/>
<entry key="386" type="xstring" value="SIK2"/>
<entry key="387" type="xstring" value="SIK3"/>
<entry key="388" type="xstring" value="SLK"/>
<entry key="389" type="xstring" value="SNARK"/>
<entry key="390" type="xstring" value="SNRK"/>
<entry key="391" type="xstring" value="SRC"/>
<entry key="392" type="xstring" value="SRMS"/>
<entry key="393" type="xstring" value="SRPK1"/>
<entry key="394" type="xstring" value="SRPK2"/>
<entry key="395" type="xstring" value="SRPK3"/>
<entry key="396" type="xstring" value="STK16"/>
<entry key="397" type="xstring" value="STK33"/>
<entry key="398" type="xstring" value="STK35"/>
<entry key="399" type="xstring" value="STK36"/>
<entry key="400" type="xstring" value="STK39"/>
<entry key="401" type="xstring" value="SYK"/>
<entry key="402" type="xstring" value="SgK110"/>
<entry key="403" type="xstring" value="TAK1"/>
<entry key="404" type="xstring" value="TAOK1"/>
<entry key="405" type="xstring" value="TAOK2"/>
<entry key="406" type="xstring" value="TAOK3"/>
<entry key="407" type="xstring" value="TBK1"/>
<entry key="408" type="xstring" value="TEC"/>
<entry key="409" type="xstring" value="TESK1"/>
<entry key="410" type="xstring" value="TGFBR1"/>
<entry key="411" type="xstring" value="TGFBR2"/>
<entry key="412" type="xstring" value="TIE1"/>
<entry key="413" type="xstring" value="TIE2"/>
<entry key="414" type="xstring" value="TLK1"/>
<entry key="415" type="xstring" value="TLK2"/>
<entry key="416" type="xstring" value="TNIK"/>
<entry key="417" type="xstring" value="TNK1"/>
<entry key="418" type="xstring" value="TNK2"/>
<entry key="419" type="xstring" value="TNNI3K"/>
<entry key="420" type="xstring" value="TRKA"/>
<entry key="421" type="xstring" value="TRKB"/>
<entry key="422" type="xstring" value="TRKC"/>
<entry key="423" type="xstring" value="TRPM6"/>
<entry key="424" type="xstring" value="TSSK1"/>
<entry key="425" type="xstring" value="TTK"/>
<entry key="426" type="xstring" value="TXK"/>
<entry key="427" type="xstring" value="TYK2(JH1domain-catalytic)"/>
<entry key="428" type="xstring" value="TYK2(JH2domain-pseudokinase)"/>
<entry key="429" type="xstring" value="TYRO3"/>
<entry key="430" type="xstring" value="ULK1"/>
<entry key="431" type="xstring" value="ULK2"/>
<entry key="432" type="xstring" value="ULK3"/>
<entry key="433" type="xstring" value="VGFR1"/>
<entry key="434" type="xstring" value="VGFR2"/>
<entry key="435" type="xstring" value="VRK2"/>
<entry key="436" type="xstring" value="WEE1"/>
<entry key="437" type="xstring" value="WEE2"/>
<entry key="438" type="xstring" value="YANK1"/>
<entry key="439" type="xstring" value="YANK2"/>
<entry key="440" type="xstring" value="YANK3"/>
<entry key="441" type="xstring" value="YES"/>
<entry key="442" type="xstring" value="YSK1"/>
<entry key="443" type="xstring" value="YSK4"/>
<entry key="444" type="xstring" value="ZAP70"/>
<entry key="445" type="xstring" value="compound_structure"/>
</config>
<entry key="type" type="xstring" value="Twinlist"/>
<entry key="limit_number_visible_options" type="xboolean" value="false"/>
<entry key="number_visible_options" type="xint" value="10"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.js.base.node.quickform.filter.column.ColumnFilterQuickFormNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Quick Form Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.quickforms"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.1.1.v202002031040"/>
<entry key="node-feature-name" type="xstring" value="KNIME Quick Forms"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.quickforms.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.1.1.v202002031710"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 10, Cols: 8"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="internalObjects">
<entry key="location" type="xstring" value="internalTables"/>
<config key="content">
<config key="object_0">
<entry key="index" type="xint" value="0"/>
<entry key="type" type="xstring" value="table"/>
<entry key="table_dir_location" type="xstring" value="object_0"/>
</config>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="80b5bbb4-8e6d-4382-9368-bc0d1e99088f"/>
</config>
</config>
